{% extends 'base.html' %}
{% load repairshop_tags bootstrap4 %}

{% block page_filterlist %}
    <div class="float-right">
        <a href="" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fa fa-filter fa-3x" aria-hidden="true" style="text-shadow: 1px 1px 2px black, 0 0 1em white;" data-toggle="tooltip" data-placement="left" title="Фильтры"></i>
        </a>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <form action="" method="get">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Фильтры</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">{% block filters_form %}{% endblock %}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Показать</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_pagination %}
    <nav class="navbar fixed-bottom navbar-light d-none d-sm-block d-print-none">
        <div class="container">
            <div class="d-block mx-auto">{% block pagination %}{% endblock %}</div>
        </div>
    </nav>
{% endblock %}