{% extends 'client_item.html' %}
{% load bootstrap4 %}

{% block page_title %}Контрагент{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="x_panel">
                <div class="x_content">
                    {% bootstrap_form_errors form %}
                    <form action="{% if client_data %}
                            {% url 'addget_client' client_data.id %}
                        {% else %}
                            {% url 'addget_client' %}
                        {% endif %}" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form layout='horizontal' %}
                        {% buttons %}
                            <a class="btn btn-warning float-left" href="{% url 'dashboard:index' %}" role="button">Отменить</a>
                            {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary float-right" %}
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}