{% extends 'base.html' %}
{% load bootstrap4 tasks_tags %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="x_title">
                {% bootstrap_form_errors form_archive %}
                <form action="{% url 'tasks:getlist-archive-tasks' %}" method="post" class="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2">{% bootstrap_field form_archive.start_period layout='inline' %}</div>
                        <div class="col-2">{% bootstrap_field form_archive.end_period layout='inline' %}</div>
                        <div class="col-1">{% bootstrap_button "Отправить" button_type="submit" button_class="btn-primary float-right" %}</div>
                    </div>
                </form>
            </div>
            <div class="x_panel">
                <div class="x_content">
                    <div class="container" style="position: relative; z-index: 1; margin-top: -17px; margin-bottom: 20px;">
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th style="width: 5%;">№</th>
                                    <th style="width: 35%;">Задача</th>
                                    <th style="width: 10%;">Срок исполнения</th>
                                    <th style="width: 10%;">Параметры</th>
                                    <th style="width: 15%;">Тип</th>
                                    <th style="width: 15%;">Исполнитель</th>
                                    <th style="width: 10%;">Автор</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in archive %}
                                    <tr>
                                        <th scope="row" class="text-center"><h2>{{ item.id }}</h2></th>
                                        <td>{{ item.title }} - {{ item.description }}</td>
                                        <td class="text-center">{% if item.date_limit %}{{ item.date_limit|date:"d.m.Y" }}{% else %}---{% endif %}</td>
                                        <td class="text-center">{{ item.model_name }}<br/>{{ item.task_name }}<br/>id={{ item.record_id }}</td>
                                        <td class="text-center">
                                            {% if item.status %}{{ item.status }}
                                            {% elif item.task_name == 'verificationpassed' %}Задание прошло проверку
                                            {% else %}---
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if item.executor %}
                                                {{ item.executor }}
                                            {% else %}
                                                {{ item.group_executor }}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ item.author }} <br/><small>{{ item.datetime_add }}</small></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block pagination %}{% endblock %}#}
